/* Tecnologia Web- Plantilla CSS del portal de asignación */
/* Puede usar #HEX o nombres de colores */
/* * es un comodín que se refiere a todos los elementos. */

/* { margin: 0; box-sizing: border-box; } */

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family:Ubuntu,sans-serif;
    color:#7b017b;
}

h1 {
    font-size: 3rem;
    color:#ffffff;
}

h2 {
    font-size: rem;
    text-align: center;
    border-bottom: 5px solid #807e7e;
}

h3 {
    font-size: rem;
    text-align: center;
    border-bottom: 5px solid #ffffff;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 2000px;
}

header, footer, footer a {
    text-align: center;
    background-color:#02276e;
    color: rgb(62, 62, 62);
}

header img {
    width: 200px;
    height: auto;
    float: right;
}

footer {
    font-size: 0.75rem;
}

